{
	admin off
	auto_https disable_redirects
	servers {
		enable_full_duplex
	}
}

https://localhost:8443 {
	tls internal
	@server path /api/* /healthz /proxy/* /absproxy/* /connect.sh /install.sh /upgrade.sh /connect.ps1 /install.ps1 /upgrade.ps1 /downloads/*
	reverse_proxy @server 127.0.0.1:8080 {
		flush_interval 10ms
		transport http {
			keepalive off
		}
	}
	reverse_proxy 127.0.0.1:5173
}
